<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Uc_12_Stephane_EstudaFácil.Properties.Settings.EstudaFacilDBConnectionString"
            connectionString="Data Source=OSA0716366W11-1\SQLEXPRESS;Initial Catalog=EstudaFacilDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Uc_12_Stephane_EstudaFácil.Properties.Settings.EstudaFacilDBConnectionString1"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EstudaFacilDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Uc_12_Stephane_EstudaFácil.Properties.Settings.DB01ConnectionString02"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DB01;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Uc_12_Stephane_EstudaFácil.Properties.Settings.testeConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=teste;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Uc_12_Stephane_EstudaFácil.Properties.Settings.EstudaFacilDBConnectionString2"
            connectionString="Data Source=SILVANA-PC\SQLEXPRESS;Initial Catalog=EstudaFacilDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Uc_12_Stephane_EstudaFácil.Properties.Settings.PROJETO05ConnectionString"
            connectionString="Data Source=OSA0716366W11-1\SQLEXPRESS;Initial Catalog=PROJETO05;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>